<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontuação Semanal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rally das Tribos</h1>
        <h2>CABO FRIO</h2>
        
        <div class="buttons">
            <a href="/metas" class="menu-option";>Metas Semanais<a>
            <a href="/pontuacao" class="menu-option";>Pontuação Semanal</a>
            <a href="/resultados" class="menu-option";>Ver Resultados</a>
        </div>
        
        <div class="logout-container">
            <a href="{{ url_for('logout') }}" class="logout-btn"; style="--bs-btn-padding-y: .65rem; --bs-btn-font-size: 1.4rem; color: white;">Sair</a>
        </div>
    </div>
</body>
</html>